page-acerca-de {
.divBlanco{
	border: 2px solid;
	background-color: white;
	margin-top: 5%;
	padding: 10px;
	
}
#fondo{
background-color: #000080;
}
.margen{
text-align: center;
padding: 10px;
}
#enlace{
padding: 10px;
text-align: center;
color: #000080;
}

}
