page-mis-reservas {
.resultadoCaja{
	border: 2px solid #000080;
	background-color: white;
	margin-top: 5%;
	padding: 10px;
}

.aerolineaTitulo{
font-weight: bold;
text-decoration: underline;
}
.titulo{
font-weight: bold;
text-decoration: underline;
text-align: center;
margin-right: 15%;
}
#colorFondo{
background-color: orange;
}
.colocar1{
float: left;
width: 40%;
text-align: center;
}
.colocar2{
float: right;
width: 40%;
text-align: center;
}
.flecha{
float: left;
text-align: center;
width: 20%;
margin-top: 15%;
color: #000080;
}
.centrar{
margin-left: 30%;
}
.logoColocar{
float: left;
margin-left: 15%;
}
#boton2{
float: left;
width: 40%;
margin-left: 5%;
}
#boton3{
margin-left: 10%;
width: 40%;
}
#boton4{
margin-left: 30%;
width: 40%;
}
.tituloIncidencias{
font-weight: bold;
color: #000080;
text-align: center;
margin-top: 10%;

}
}
