page-facturar {
#colorFondo{
background-color: #000080;
}
.embellecedor{
padding: 10px;
text-align: center;
}
.fondo{
background-color: white;
padding: 10px;
}
#decorar{
text-decoration: underline;
}
.caja1{
border: 1px solid #000080;

}
.iconoStyle{
color: white;
background-color: #000080;
min-width: 50px;
padding: 15px;
}

.divCaja{
display: flex;
margin-bottom: 10%;
}
#colorBoton{
background-color: #000080;
}

}
